body {
  font-family: "Meiryo", "verdana", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

figure {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

.story {
  padding: 130px 0;
}

.story__title {
  font-size: 60px;
  margin-top: -22px;
  font-family: "Spectral", serif;
  letter-spacing: 20px;
  height: 40px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;
}

.story__inner {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 607px;
  padding: 0 90px;
  box-sizing: border-box;
}

.story__image {
  width: 510px;
  height: 607px;
  object-fit: cover;
  overflow: hidden;
}

.story p {
  letter-spacing: 0.15em;
  line-height: 2.4;
  padding-top: 1em;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.15em;
}

.story__text {
  width: 500px;
}
