@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

li,
a,
button {
  font-family: "Monserat", sans-serif;
  font-size: 14px;
  font-weight: 530;
  letter-spacing: 2px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 100%;
  height: 60px;
  z-index: 999;
  position: fixed;

  transition: all 300ms ease-in-out;
}

.navbar--fixed {
  background-color: #110b3c;
}

.logo {
  cursor: pointer;
}

.navbar-menu ul {
  list-style-type: none;
}

.navbar-menu li {
  display: inline-block;
  padding: 0 20px;
}

button {
  padding: 9px 25px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.navbar-menu a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar-menu a:hover {
  color: rgb(255, 255, 255);
}

.navbar-menu a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-menu a:hover::before {
  transform: scaleX(1);
}
