/*Nav bar style */

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 1280px;
  height: 66px;
  background-color: rgba(17, 17, 17, 0.7);
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.header__logo img {
  margin-top: 8px;
  margin-left: 20px;
  height: 50px;
}

.header__logo .films {
  margin-left: 30px;
  letter-spacing: 5px;
  font-family: "Varela Round", sans-serif;
}
