* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: #08274b;
}

#suzume {
  position: relative;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

/*Coming soon box on main page*/

.soon-header {
  padding-top: 100px;
  margin: 5px 60px 5px;
}

.soon_title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 72px;
  font-family: "Roboto Condesed", sans-serif;
  font-style: italic;
  font-size: 150%;
  letter-spacing: 5px;
  color: rgb(255, 255, 255);
}

.soon-anime_group {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 542px;
  padding-bottom: 47px;
}

.soon-header .soon-anime_group div {
  width: 33%;
  margin: 0 0.5% 0 0;
}

.soon-header .soon-anime_group div a {
  display: block;
  position: relative;
}

a {
  outline: none;
  outline: none;
  color: #0c0a06;
  text-decoration: none;
  backface-visibility: hidden;
}

.soon-header .soon-anime_group div a img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #cccccc;

  opacity: 1;
  transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
}

.soon-header .soon-anime_group div a img:hover {
  opacity: 0.5;
  transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
}

img {
  border: 0;
  vertical-align: top;
}
