@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
}

li,
a,
button {
  font-family: "Monserat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}

#header {
  display: block;
  padding: 15px 0;
  z-index: 999;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 300ms ease;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 100%;
}

.navbar--fixed {
  background-color: #333333;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  margin: 10px 0 10px 30px;
}

.logo {
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 9px 25px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.navbar a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(255, 255, 255);
}

.navbar a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::before {
  transform: scaleX(1);
}
