@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/*Scrollbar*/ /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242d7e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #191f57;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  background-color: black;
  overflow-x: hidden;
  line-height: 1.4;
  color: white;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
}

.background {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url(../Images/background-cut.png) fixed;
  background-size: cover;

  filter: blur(0);
  transition: filter 700ms ease;
  -webkit-transition: -webkit-filter 700ms ease;
}

.background--blur {
  filter: blur(6px);
}

/* Top container for new anime titles*/

.top-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.top-container a div {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.gif-scroll {
  position: relative;
  z-index: 2;
  width: 50px;
  height: 100px;
}

.scroll {
  position: absolute;
  width: 28px;
  height: 5px;
  opacity: 0;
  transform: scale3d(0.3, 0.3, 0.3);
  animation: move 3.2s ease-out infinite;
}

.scroll:first-child {
  animation: move 3.2s ease-out 1s infinite;
}

.scroll:nth-child(2) {
  animation: move 3.2s ease-out 2s infinite;
}

.scroll:before,
.scroll:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.scroll:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.scroll:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

/*Coming soon box on main page*/

.soon-container {
  padding-top: 50px;
  z-index: 2;
  background-color: #272727;
  border-radius: 30px;
}

.soon_title {
  text-align: left;
  margin-bottom: 40px;
  font-family: "Roboto Condesed", sans-serif;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 5px;
  color: rgb(255, 255, 255);
  margin-left: 100px;
  z-index: 2;
}

.soon-anime_group {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 542px;
  padding-bottom: 47px;
  z-index: 2;
}

.soon-container .soon-anime_group div {
  width: 20%;
  margin: 0 2% 0 0;
  z-index: 2;
}

.soon-container .soon-anime_group div a {
  display: block;
  position: relative;
  z-index: 2;
}

a {
  outline: none;
  outline: none;
  color: #0c0a06;
  text-decoration: none;
  backface-visibility: hidden;
  z-index: 2;
}

.soon-container .soon-anime_group div a img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;

  opacity: 1;
  transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
}

.soon-container .soon-anime_group div a img:hover {
  opacity: 0.5;
  transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
}

footer {
  width: 100%;
  height: 600px;
  text-align: center;
  z-index: 3;
}
