@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #272727;
  box-sizing: border-box;
}

.container {
  margin-top: 150px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-details {
  display: flex;
  width: 900px;
}

.movie-image img {
  height: 350px;
  border-radius: 20px;
}

.title-text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  display: flex;
  width: 100%;
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-family: "Fredoka One", cursive;
  font-size: 1.5em;
}

.movie-text {
  margin-left: 3rem;
  font-size: 1em;
}

.trailer-button {
  flex-direction: column;
  align-items: center;
  margin-left: 3em;
}

.trailer-video {
  margin-top: 150px;
  margin-bottom: 150px;
}
